<footer><!-- Pie de página principal del Boilerplate -->  
    <div class="footer-principal"><!-- aplica clase "footer-principal" -->
    <!-- pie de página - footer  -->
    <p class="max-sm:mx-auto max-md:mx-auto ml-4 col-span-1"><!-- media min.640px + márgenes auto + margen izq. + 1col.agrupada -->
      <picture> <!-- se añade el logo de la UOC -->
        <source srcset="./assets/images/logo2.png?as=webp&width=300" type="image/webp">
        <img src="./assets/images/logo2.png?width=300" alt="Universitat Oberta de Catalunya">
      </picture>
    </p>
    <!-- margen izq. + espaciado liena + margen inferior + media min.640px + media min.768px + 3cols.agrupadas -->
    <p class="ml-16 leading-6 mb-5 max-sm:mt-6 max-sm:ml-0 max-md:mt-6 max-md:ml-0 col-span-3">
      This wireframe has been created exclusively for its use within the “HTML and CSS Tools II” course at the UOC’s Master Program in Website and Web<br>
      App Development. Its reproduction and other uses are not authorized.<br>
      &copy; Jun 2025 - Eugenio Blanco Fernández and Universitat Oberta de Catalunya.
    </p>
  </div>
</footer><!-- Fin pie de página principal del Boilerplate -->
