<header><!-- Cabecera del menú principal del Boilerplate -->
    <div class="grid grid-cols-1 gap-4"><!-- cuadrícula de 1col.+ espaciado -->
      <picture><!-- Mostramos logotipo principal -->
        <source srcset="./assets/images/logo-jornadas-economia.png?as=webp&width=50" type="image/webp" />
        <img src="./assets/images/logo-jornadas-economia.png?width=50" alt="Jornadas de Economía Circular"
          class="uoc-logo" />
      </picture>
      <p class="logo-jde">JdE</p><!-- clase logo-jde -->
      <p class="logo-jde mb-10">Jornadas de Economía</p><!-- clase logo-jde + margen superior -->
    </div>
</header><!-- Fin cabecera del menú principal del Boilerplate -->
