<!-- Parte intermedia de la página -->
<h1 class="uoc-title p-6">Ponentes</h1><!-- título principal -->
<!-- cuadrícula de 1col.+ espaciado entre filas y columnas + media min.1024px + espaciado + 10col. -->
<div class="text-sm grid grid-cols-1 gap-y-6 gap-x-6 lg:gap-32 lg:grid-cols-10">
    <!-- mostramos Card 1 -->
    <!-- max.ancho + redondear bordes + sombra +fondo blanco + margen superior + espaciado + media min.768px + espaciado + 3col.agrupadas + márgenes auto -->
    <div class="max-w-sm rounded overflow-hidden shadow-2xl bg-white p-4 mt-6 items-center text-center md:col-span-3 mx-auto">
        <div class="items-center w-1/2 mx-auto"><!-- centrar items + mitad ancho + márgenes auto -->
            <img src="./assets/images/00-thispersondoesnotexist.jpg"
                alt="Imagen proporcionada por ThisPersonDoesNotExist - www.thispersondoesnotexist.com">
        </div>
        <div class="text-sm text-center"><!-- min.texto + centrar texto -->
            <p>
                Imagen proporcionada por ThisPersonDoesNotExist - www.thispersondoesnotexist.com - <include
                    src="../src/views/button.html"
                    locals='{ "text": "enlace", "vinculo": "https://www.thispersondoesnotexist.com/", "clase": "border-none text-[var(--color-fuente-container)] text-center no-underline inline-block text-xs" }'>
                </include>
            </p>
            <p class="mb-6 mt-4"><!-- margen inferior + margen superior -->
                Licenciado en Economía y Finanzas, posee experiencia en banca tradicional y digital, nos explicará el impacto de la
                macroeconomía a nivel mundial y como nos afecta a nuestro entorno para enfrentarnos a los distintos desafíos sociales y
                económicos en nuestro día a día de forma actual.
            </p>
        </div>
    </div>
    <!-- mostramos Card 2 -->
    <!-- max.ancho + redondear bordes + sombra +fondo blanco + margen superior + espaciado + media min.768px + espaciado + 3col.agrupadas + márgenes auto -->
    <div class="max-w-sm rounded overflow-hidden shadow-xl bg-white p-4 mt-6 items-center text-center md:col-span-3 mx-auto">
        <div class="items-center w-1/2 mx-auto"><!-- centrar items + mitad ancho + márgenes auto -->
            <img src="./assets/images/01-thispersondoesnotexist.jpg"
                alt="Imagen proporcionada por ThisPersonDoesNotExist - www.thispersondoesnotexist.com">
        </div>
        <div class="text-sm text-center"><!-- min.texto + centrar texto -->
            <p>
                Imagen proporcionada por ThisPersonDoesNotExist - www.thispersondoesnotexist.com - <include
                    src="../src/views/button.html"
                    locals='{ "text": "enlace", "vinculo": "https://www.thispersondoesnotexist.com/", "clase": "border-none text-[var(--color-fuente-container)] text-center no-underline inline-block text-xs" }'>
                </include>
            </p>
            <p class="mb-6 mt-4"><!-- margen inferior + margen superior -->
                Licenciada en Ciencias Económicas, fue profesora universitaria durante toda su trayectoria profesional, nos brindará una
                ponencia sobre los diversos aspectos de las políticas económicas adoptadas por diferentes países, así como su impacto en
                las poblaciones actuales.
            </p>
        </div>
    </div>
    <!-- mostramos Card 3 -->
    <!-- max.ancho + redondear bordes + sombra +fondo blanco + margen superior + espaciado + media min.768px + espaciado + 3col.agrupadas + márgenes auto -->
    <div class="max-w-sm rounded overflow-hidden shadow-xl bg-white p-4 mt-6 items-center text-center md:col-span-3 mx-auto">
        <div class="items-center w-1/2 mx-auto"><!-- centrar items + mitad ancho + márgenes auto -->
            <img src="./assets/images/02-thispersondoesnotexist.jpg"
                alt="Imagen proporcionada por ThisPersonDoesNotExist - www.thispersondoesnotexist.com">
        </div>
        <div class="text-sm text-center"><!-- min.texto + centrar texto -->
            <p>
                Imagen proporcionada por ThisPersonDoesNotExist - www.thispersondoesnotexist.com - <include
                    src="../src/views/button.html"
                    locals='{ "text": "enlace", "vinculo": "https://www.thispersondoesnotexist.com/", "clase": "border-none text-[var(--color-fuente-container)] text-center no-underline inline-block text-xs" }'>
                </include>
            </p>
            <p class="mb-6 mt-4"><!-- margen inferior + margen superior -->
                Estudiante del Grado de Economía, nos dará una charla sobre los diferentes métodos estadísticos a la hora de realizar
                análisis de datos de tipo económicos, y poder extraer una visión distinta de como afectan al crecimiento de los países,
                y como se puede compatibilizar con economía circular.
            </p>
        </div>
    </div>
    <!-- mostramos Card 4 -->
    <!-- max.ancho + redondear bordes + sombra +fondo blanco + margen superior + espaciado + media min.768px + espaciado + 3col.agrupadas + márgenes auto -->
    <div class="max-w-sm rounded overflow-hidden shadow-xl bg-white p-4 items-center text-center md:col-span-3 mx-auto">
        <div class="items-center w-1/2 mx-auto"><!-- centrar items + mitad ancho + márgenes auto -->
            <img src="./assets/images/03-thispersondoesnotexist.jpg"
                alt="Imagen proporcionada por ThisPersonDoesNotExist - www.thispersondoesnotexist.com">
        </div>
        <div class="text-sm text-center"><!-- min.texto + centrar texto -->
            <p>
                Imagen proporcionada por ThisPersonDoesNotExist - www.thispersondoesnotexist.com - <include
                    src="../src/views/button.html"
                    locals='{ "text": "enlace", "vinculo": "https://www.thispersondoesnotexist.com/", "clase": "border-none text-[var(--color-fuente-container)] text-center no-underline inline-block text-xs" }'>
                </include>
            </p>
            <p class="mb-6 mt-4"><!-- margen inferior + margen superior -->
                Licenciada en Administración y Dirección de Empresas, nos presentará un coloquio, donde nos explicará el impacto
                ocasionado, en la toma de decisiones en los distintos órganos de gobierno de las empresas relacionadas con la economía,
                además de realizar un seguimiento del recorrido de esas decisiones.
            </p>
        </div>
    </div>
    <!-- mostramos Card 5 -->
    <!-- max.ancho + redondear bordes + sombra +fondo blanco + margen superior + espaciado + media min.768px + espaciado + 3col.agrupadas + márgenes auto -->
    <div class="max-w-sm rounded overflow-hidden shadow-xl bg-white p-4 items-center text-center md:col-span-3 mx-auto">
        <div class="items-center w-1/2 mx-auto"><!-- centrar items + mitad ancho + márgenes auto -->
            <img src="./assets/images/04-thispersondoesnotexist.jpg"
                alt="Imagen proporcionada por ThisPersonDoesNotExist - www.thispersondoesnotexist.com">
        </div>
        <div class="text-sm text-center"><!-- min.texto + centrar texto -->
            <p>
                Imagen proporcionada por ThisPersonDoesNotExist - www.thispersondoesnotexist.com - <include
                    src="../src/views/button.html"
                    locals='{ "text": "enlace", "vinculo": "https://www.thispersondoesnotexist.com/", "clase": "border-none text-[var(--color-fuente-container)] text-center no-underline inline-block text-xs" }'>
                </include>
            </p>
            <p class="mb-6 mt-4"><!-- margen inferior + margen superior -->
                Graduada en Economía y Máster en Sostenibilidad Económica, nos hablará en estas jornadas, el crecimiento económico y el
                impacto directo sobre la desigualdad, y dentro de las posibles soluciones, explicará algunos métodos sobre la implementación de
                la economía circular en los ámbitos cotidianos y clases sociales.
            </p>
        </div>
    </div>
    <!-- mostramos Card 6 -->
    <!-- max.ancho + redondear bordes + sombra +fondo blanco + margen superior + espaciado + media min.768px + espaciado + 3col.agrupadas + márgenes auto -->
    <div class="max-w-sm rounded overflow-hidden shadow-xl bg-white p-4 items-center text-center md:col-span-3 mx-auto">
        <div class="items-center w-1/2 mx-auto"><!-- centrar items + mitad ancho + márgenes auto -->
            <img src="./assets/images/05-thispersondoesnotexist.jpg"
                alt="Imagen proporcionada por ThisPersonDoesNotExist - www.thispersondoesnotexist.com">
        </div>
        <div class="text-sm text-center mb-12"><!-- min.texto + centrar texto + margen inferior -->
            <p>
                Imagen proporcionada por ThisPersonDoesNotExist - www.thispersondoesnotexist.com - <include
                    src="../src/views/button.html"
                    locals='{ "text": "enlace", "vinculo": "https://www.thispersondoesnotexist.com/", "clase": "border-none text-[var(--color-fuente-container)] text-center no-underline inline-block text-xs" }'>
                </include>
            </p>
            <p class="mb-6 mt-4"><!-- margen inferior + margen superior -->
                Licenciado en Economía y Máster en Data Science, será ponente de un tema de actualidad, como el análisis de datos, y
                como utilizando diferentes metodologías se puede aplicar a diversos campos, entre ellos, el aspecto económico, además de
                como afectaría a la micro y macroeconomía, dentro de un escenario de economía circular.
            </p>
        </div>
    </div>      
</div><!-- de capa de cards --> 

