<!-- Parte intermedia de la página -->
<div class="text-sm grid grid-cols-4"><!-- cuadrícula de 4cols. -->
    <!-- mostramos Card 1 -->
    <!-- max.ancho + redondear bordes + sombra +fondo blanco + margen superior + espaciado + media min.768px + espaciado + 3col.agrupadas + márgenes auto -->
    <div class="rounded overflow-hidden shadow-xl bg-white p-4 items-center text-center w-full xs:col-span-4 md:col-span-4 lg:col-span-4 mt-6 mb-6">
        <div class="col-span-4 mt-4 items-center"><!-- cuadrícula de 4cols.agrupadas + margen superior + centrar items -->
            <img src="./assets/images/p3_imagen1.jpg"
                alt="Imagen proporcionada por Freepik - https://www.freepik.com/author/freepik" class="w-full">
        </div>
        <div class="text-xs text-center pt-1"><!-- max.texto + centrar texto + espacio elementos superiores -->
            <p>
                Imagen proporcionada por Freepik - https://www.freepik.com/author/freepik - <include src="../src/views/button.html"
                        locals='{ "text": "enlace", "vinculo": "https://www.freepik.com/free-photo/sustainable-development-goals-still-life_38687424.htm#fromView=search&page=1&position=17&uuid=9e3bc2d7-cb5b-4b89-9f27-e70960898479&query=circular+economy", "clase": "border-none text-[var(--color-fuente-container)] text-center no-underline inline-block text-[10px]" }'>
                    </include>
            </p>
        </div>
    </div>
    <div class="col-span-4 mt-4 md:col-start-2 md:col-end-2"><!-- cuadrícula de 4cols.agrupadas + media min.768px + col. empieza 2 + col. termina 2 -->
        <!-- clase uoc-title + izq. texto -->
        <h3 class="uoc-title text-left"><i class="fa-solid fa-recycle"></i> Jornadas de Economía Circular <strong>(JdE)</strong> - Tipos
            de Actividades</h3>        
    </div>
    <div class="col-span-4 mt-4 md:col-start-3 md:col-end-3"><!-- cuadrícula de 4cols.agrupadas + media min.768px + col. empieza 3 + col. termina 3 -->
        <p class="text-left text-base"><!-- izq. texto + base texto -->
            En nuestras instalaciones donde se celebran las (JdE) de forma anual, instalaciones cedidas por el Ayuntamiento de
            Santibañes-El bajo (Cáceres - Extremadura), vas a encontrar además de las instalaciones para los participantes,
            con diversas salas temáticas, donde se realizarán varios tipos de actividades durante las jornadas, como charlas,
            seminarioas, cursos. Como también, el acondicionamiento necesario para que los participantes puedan además de participar 
            en las (JdE), realizar otras actividades de otra índole y teniendo acceso a la rica gasrtronomía de la zona donde se 
            encuentran las instalaciones.
        </p>
    </div>
    <div class="col-span-4 mt-8 text-left text-base md:col-start-2 md:col-span-2"><!-- cuadrícula de 4cols.agrupadas + media min.768px + col. empieza 2 + 2cols.agrupadas -->
        <!-- lista de actividades -->
        <ul>
            <!-- no pin + borde color -->
            <li class="list-disc border border-gray-500"><strong>Actividad 1</strong></li>
            <li class="list-none border border-gray-500"><!-- no pin + borde color -->
                <p class="border border-gray-500"><!-- borde color -->
                    Esta actividad tiene un carácter de tipo más educacional y de enseñanza, ya que, se realizan una serie
                    de cursos o
                    píldoras, para que los participantes, en este caso, mejoren su técnica de gestión y administración,
                    practicando los
                    diferentes métodos sobre implementar la economía circular en la empresa.
                    Así, como, talleres más prácticos, para que los participantes puedan obtener un aprendizaje sobre las
                    estrategias de
                    reducción de residuos y mejorar la economía a nivel empresarial.
                    Con el objetivo de conseguir una mejora a nivel personal de nuestra técnica y reforzarnos como equipo y
                    persona.
                </p>
            </li>
            <!-- no pin + borde color -->
            <li class="list-disc border border-gray-500"><strong>Actividad 2</strong></li>
            <li class="list-none border border-gray-500"><!-- no pin + borde color -->
                <p class="border border-gray-500"><!-- borde color -->
                    Esta actividad consiste en organizar varias conferencias y ponencias, estando en ellas varios expertos
                    en economía, presentando sus casos
                    reales que les ha ocurrido en las empresas que administran y gestionan. De esta forma, se podrá evaluar
                    las distintas estrategias si funcionan
                    y tienen éxito o por el contrario no.
                </p>
            </li>            
            <li class="list-disc border border-gray-500"><strong>Actividad 3</strong></li><!-- no pin + borde color -->
            <li class="list-none border border-gray-500"><!-- no pin + borde color -->
                <p class="border border-gray-500"><!-- borde color -->
                    Se realizan visitas de forma voluntaria a varias empresas de la zona, mostrando sus instalaciones, dando
                    unas breves explicaciones de como
                    han podido implementan entre varios modelos de producción y consumo de forma sostenibles, y aunque no lo
                    parezca en principio, están siendo
                    rentables a nivel empresarial.
                </p>
            </li>
        </ul>
    </div>
    <div class="col-span-4 mt-6 text-left text-base md:col-start-2 md:col-span-2"><!-- cuadrícula de 4cols.agrupadas + media min.768px + col. empieza 2 + 2cols.agrupadas -->
        <h3 class="uoc-title"><!-- clase uoc-title -->
            Conviene refrescar y recordar, que durante la celebración de las Jornadas de Economía Circular (JdE), podrás
            realizar cualquier actividad relacionada con la economía, y más bien con un gran enfoque hacia la economía circular.
        </h3>
    </div>
    <div class="col-span-4 mt-10 text-left text-base md:col-start-2 md:col-span-2"><!-- cuadrícula de 4cols.agrupadas + media min.768px + col. empieza 2 + 2cols.agrupadas -->
        <p>
            En nuestras Jornadas de Economía Circular (JdE), encontrarás además de enseñanza y aprendizaje, también divertimento
            a la vez que aprenderás nuevas técnicas y métodos, además de valorar el compañerismo mutuo a nivel personal y de empresa, puesto que, si hay algo que se caracteriza de
            nuestras jornadas (JdE), además de incluir actividades diversas y dinámicas, también se realiza una labor social hacia la comunidad poblacional, como la inversión
            empresarial en nuestras zonas.
        </p>
    </div>
    <!-- mostramos Card 2 -->
    <!-- max.ancho + redondear bordes + sombra +fondo blanco + margen superior + espaciado + media min.768px + espaciado + 3col.agrupadas + márgenes auto -->
    <div class="rounded overflow-hidden shadow-xl bg-white p-4 items-center text-center w-full xs:col-span-4 md:col-span-4 lg:col-span-4 mt-20 mb-10">
        <div class="col-span-4 mt-4 items-center"><!-- cuadrícula de 4cols.agrupadas + media min.768px + centrar items -->
            <img src="./assets/images/p3_imagen2.jpg"
                alt="Imagen proporcionada por Freepik - https://www.freepik.com/author/freepik" class="w-full">
        </div>
        <div class="text-xs text-center pt-1"><!-- max.texto + centrar texto + espacio elementos superiores -->
            <p>
                Imagen proporcionada por Freepik - https://www.freepik.com/author/freepik - <include
                    src="../src/views/button.html"
                    locals='{ "text": "enlace", "vinculo": "https://www.freepik.com/free-photo/sustainable-development-goals-still-life_38687423.htm#fromView=search&page=1&position=18&uuid=9e3bc2d7-cb5b-4b89-9f27-e70960898479&query=circular+economy", "clase": "border-none text-[var(--color-fuente-container)] text-center no-underline inline-block text-[10px]" }'>
                </include>
            </p>
        </div>
    </div>
    <div class="col-span-4 mt-4 text-left text-base md:col-start-2 md:col-span-2"><!-- cuadrícula de 4cols.agrupadas + media min.768px + col. empieza 2 + 2cols.agrupadas -->
        <p>
            En las instalaciones donde se celebran las jornadas de (JdE), se recuerda, que las tenemos actualizadas, reformadas y en
            perfecto estado, debido a que, durante el tiempo que se celebren dichas jornadas, se han llevado una preparación de forma exhaustiva, cumpliendo todas las
            normativas de seguridad de referencia y pasando de forma favorable las evaluaciones de seguridad obligatorias. Todo esto se realiza, para que los
            participantes y ponentes, para que puedan encontrarse en las mejores condiciones de comodidad posibles para su uso y disfrute, durante el tiempo que dure la realización de
            las Jornadas de Economía Circular (JdE).
        </p>
    </div>
    <div class="col-span-4 mt-10 mb-40 text-left text-base md:col-start-2 md:col-span-2"><!-- cuadrícula de 4cols.agrupadas + media min.768px + col. empieza 2 + 2cols.agrupadas -->
        <p>
            ¡Recordad! Para tener futuro, hay que construir el presente...
        </p>
    </div>
</div><!-- de capa principal de P3-Artículos -->

