<!-- Parte intermedia-final de la página -->
<!-- enlaces del menú principal -->
<div class="grid grid-cols-1 gap-4 md:grid-cols-10"><!-- cuadrícula de 1col.+ espaciado + media min.768px + 10col. -->
    <div class="mt-44 mb-4 md:col-span-10"><!-- margen superior + margen inferior + media min.768px + 10cols.agrupadas -->
        <p>
            Para más información, puede dirigirse al siguiente contacto: <include src="../src/views/button.html"
                locals='{ "text": " info@jdecircular.com", "vinculo": "mailto:info@jdecircular.com", "clase": "border-none text-[var(--color-fuente-container)] text-center no-underline inline-block" }'>
            </include>
        </p>
    </div>
    <div class="md:mt-6"><!-- media min.768px + margen superior -->
        <picture><!-- Mostramos logotipo principal -->
            <source srcset="./assets/images/logo-jornadas-economia.png?as=webp&width=50" type="image/webp" />
            <img src="./assets/images/logo-jornadas-economia.png?width=50" alt="Jornadas de Economía Circular"
                class="uoc-logo" />
        </picture>
    </div>
    <!-- logo y texto de cabecera principal -->
    <!-- texto logotipo -->
    <div class="md:col-span-2"><!-- media min.768px + 2col.agrupadas -->
        <p class="logo-jde text-center md:text-left">JdE</p><!-- clase logo-jde + texto centrar + media min.768px + alinear texto izquierda -->
        <p class="logo-jde text-center md:text-left">Jornadas de Economía</p><!-- clase logo-jde + texto centrar + media min.768px + alinear texto izquierda -->
    </div>
    <div class="md:text-center md:col-span-5"><!-- media min.768px + centrar texto + 5col.agrupadas -->
        <p><!-- enlaces del menú -->
            <!-- Componente botón "Principal" -->
            <!-- Se inserta botón parametrizado mediante variables y utilizando el componente "PosHTML-include" -->
            <include src="../src/views/button.html"
                locals='{ "text": "Principal", "vinculo": "./index.html", "clase": "boton-principal" }'>
            </include>
            <!-- Componente botón "Participantes" -->
            <!-- Se inserta botón parametrizado mediante variables y utilizando el componente "PosHTML-include" -->
            <include src="../src/views/button.html"
                locals='{ "text": "Participantes", "vinculo": "./p2_participantes.html", "clase": "boton-principal" }'>
            </include>
            <!-- Componente botón "Artículos" -->
            <!-- Se inserta botón parametrizado mediante variables y utilizando el componente "PosHTML-include" -->
            <include src="../src/views/button.html"
                locals='{ "text": "Artículos", "vinculo": "./p3_articulos.html", "clase": "boton-principal" }'>
            </include>
            <!-- Componente botón "Formulario" -->
            <!-- Se inserta botón parametrizado mediante variables y utilizando el componente "PosHTML-include" -->
            <include src="../src/views/button.html"
                locals='{ "text": "Formulario", "vinculo": "#", "clase": "boton-principal" }'>
            </include>
        </p>
    </div>
    <!-- enlaces a redes sociales -->
    <div class="md:text-right md:col-span-2"><!-- media min.768px + derecha texto + 2col.agrupadas -->
        <p>
            <!-- aplicamos clase "boton-rrss" + icono de redes sociales utilizando Font Awesome -->
            <a href="#" class="boton-rrss"><i class="fa-brands fa-google-plus-g"></i></a>
            <a href="#" class="boton-rrss"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#" class="boton-rrss"><i class="fa-brands fa-twitter"></i></a>
        </p>
    </div><!-- de capa de botones rrss-->
</div><!-- de capa Parte intermedia-final de la página -->